h1{
  text-align: center;
  background:skyblue;
}
.panel{
  height:150px;
  background-color: skyblue;
  padding:20px;
  text-align: center;
}
h1,label{
  color:white;
  text-shadow: 2px 1px 2px black;
}
label{
  font-size: 20px;
}
input{
  padding:2px 5px;
}
input,button{
  border:none;
  box-shadow:1px 2px 3px black;
}
button{
  margin:20px;
  background:darkblue;
  border-radius:5px ;
  padding:2px 10px;
  color: white;
  font-weight:600;
}
button:hover{
  background: white;
  color:darkblue;
  
}